@font-face {
    font-family: 'Whitney';
    src: url('./../../public/fonts/Whitney-Light.woff2') format('woff2'),
        url('./../../public/fonts/Whitney-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./../../public/fonts/Whitney-Book.woff2') format('woff2'),
        url('./../../public/fonts/Whitney-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./../../public/fonts/Whitney-Medium.woff2') format('woff2'),
        url('./../../public/fonts/Whitney-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Whitney';
    src: url('./../../public/fonts/Whitney-Bold.woff2') format('woff2'),
        url('./../../public/fonts/Whitney-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
